<div class="engine">
  <div *ngIf="engine">
    <div class="progress">
      <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" [style.width.%]="engine.throttle" >{{engine.throttle | number : '1.2-2'}}% / {{engine.currentPulse | number : '1.0-0'}}</div>
    </div>
    <div class="correction">{{engine.correction | number : '1.2-2'}}</div>
  </div>

</div>
