<div class="app">
    <app-keyboard-control [socket]="socket"></app-keyboard-control>
    <app-drone-status [socket]="socket"></app-drone-status>
    <app-drone-tilt [socket]="socket"></app-drone-tilt>
</div>