<div class="container">

  <div class="starter-template">
    <div class="row">
      <div class="col">
        <p class="lead">

          roll left - a <br/>
          roll right - d <br/>
          pitch foreword - w <br/>
          pitch backward - s
        </p>
      </div>
      <div class="col">
        <p class="lead">
          throttle up - u <br/>
          throttle up - j <br/>
          kill engine - p
        </p>
      </div>
    </div>

  </div>

  <div *ngIf="handle" class="handle-position">
    {{handle.currentPosition | json}}
  </div>


</div>



