<div class="engines">

  <div class="row">
    <div class="col">
      <app-engine [engine]="engines[17]"></app-engine>
      <app-engine [engine]="engines[26]"></app-engine>
    </div>
    <div class="col">
        <app-engine [engine]="engines[18]"></app-engine>
        <app-engine [engine]="engines[21]"></app-engine>
    </div>
  </div>


</div>
